body{
	font-family: 'Open Sans', sans-serif;

	div#st-1{
		 margin-top: 20px;
    	margin-bottom: -35px;
	}

	div#logo{
		text-align: center;
		color: #222222;
		font-size: 64px;
		font-weight: 100;
		margin-bottom: 10px;

		span.logo-ip{
			font-weight: 600;
		}

		div.slogan{
			color: #9E9E9E;
			font-size: 18px;
			margin-top: 10px;
			font-weight: 500;

		}
	}

	div#step-1{
		margin-bottom: 20px;
	}

	div#selection-container{
		background-color: #FAFAFA;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	h2{
		color: #222222;
		font-size: 20px;
		line-height: 27px;
		font-weight: bold;
		text-align: center;
		margin: 0px;
	}

	.masonry {
	    margin: 1.5em 0;
	    padding: 0;
	    -moz-column-gap: 1.5em;
	    -webkit-column-gap: 1.5em;
	    column-gap: 1.5em;
	    font-size: .85em;
	}

	.item {
	    display: inline-block;
	    width: 100%;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	}

	h3.services-header{
		color: #666666;
		font-size: 24px;
		font-weight: 600;
		line-height: 33px;
		margin-top: 20px;
	}

	div.service{
		background: #FFFFFF;
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.08);
		border-radius: 3px;
		margin-bottom: 15px;
		padding: 15px;
		cursor: pointer;

		&.service-checked{
			box-shadow: 0 0 15px 0 #00A0FF;
		}

		div.service-selection{
			float: left;
			margin-right: 10px;

			input[type="checkbox"]{
				margin-top: 20px;
			}
		}

		div.service-description{
			float: left;
			width: calc( 100% - 30px );
			height: 50px;

			img {
				float: left;
			}

			div.service-meta{
				float: left;
				margin-left: 12px;
				width: calc( 100% - 75px );

				span.service-name{
					display: block;
					font-size: 18px;
					color: #222222;
					font-weight: 600;
					width: 100%;
					white-space: nowrap;
 					overflow: hidden;
  					text-overflow: ellipsis;
				}

				span.last-updated{
					display: block;
					font-size: 12px;
					color: #9E9E9E;
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}

	div#generate-container{
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: white;

		p{
			color: #222222;
			font-size: 14px;
			line-height: 19px;
			text-align: center;
			margin-top: 20px;
		}

		a#generate-url{
			color: white;
			background-color: #00A0FF;
			display: block;
			text-align: center;
			font-size: 18px;
			border-radius: 3px;
			padding: 10px;

			&.disabled{
				background-color: #9E9E9E;
			}
		}

		span.interested{
			color: #9E9E9E;
			font-size: 14px;
			line-height: 19px;
			display: block;
			text-align: center;
			margin-top: 30px;

			a{
				color: #9E9E9E;
				text-decoration: underline;
			}
		}

		div#selected-apps{
			min-height: 65px;
			text-align: center;

			img{
				margin-right: 10px;
			}
		}
	}

	div.footer-logo{
		text-align: center;
		margin-top: 20px;
	}

	div#table-header{
		padding: 20px;
		box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);

		img{
			margin-right: 10px;
		}

		div.title-container{
			line-height: 60px;
		}

		span.table-title{
			color: #222222;
			font-size: 24px;
			line-height: 33px;
			font-weight: 100;
		}
		span.table-title-ip{
			color: #222222;
			font-size: 24px;
			line-height: 33px;
			font-weight: 600;
		}

		div.showing-addresses-for-container{
			text-align: center;

			img{
				width: 30px;
				height: 30px;
			}
		}

		span.showing-addresses-for{
			color: #9E9E9E;
			font-size: 12px;
			line-height: 19px;
			display: block;
			text-align: center;
		}

		a#view-json{
			color: white;
			background-color: #00A0FF;
			display: block;
			border-radius: 3px;
			text-align: center;
			width: 120px;
			font-size: 12px;
			padding: 12px;
			float: right;
			margin-top: 10px;
		}
	}

	div.returned-address-app{
		margin-top: 50px;

		img{
			float: left;
			margin-right: 10px;
		}
		div.meta-container{
			float: left;

			span.returned-address-app-name{
				display: block;
				color: #222222;
				font-size: 18px;
				line-height: 24px;
			}
			span.returned-address-last-updated{
				display: block;
				color: #9E9E9E;
				font-size: 12px;
			}
		}

		div.source-link-container{
			line-height: 50px;
			text-align: right;

			img{
				margin-left: 0px;
				float: none;
			}
			a.source{
				color: #00A0FF;
				font-size: 16px;
			}
		}


		div.ip-cell{
			border: 1px solid #E8E8E8;
			padding: 5px;
			text-align: center;
			color: #222222;
		}
	}

	div#returned-address-description{
		border-bottom: 1px solid #9E9E9E;
		margin-top: 30px;

		h2.step-instruction{
			color: #222222;
			font-weight: bold;
			font-size: 20px;
			text-align: center;
		}

		p{
			color: #222222;
			font-size: 14px;
			text-align: center;
			line-height: 19px;
		}

		input[type="text"]#json-link{
			color: #666666;
			font-size: 18px;
			text-align: center;
			cursor: auto;
			margin-bottom: 32px;
		}

		div#copy-success{
			text-align: center;
			background-color: #59D040;
			font-size: 14px;
			padding: 3px;
			color: white;
			margin-bottom: 5px;
			display: none;
			margin-top: -25px;
		}

		div#copy-failed{
			text-align: center;
			background-color: #D04040;
			font-size: 14px;
			padding: 3px;
			color: white;
			margin-bottom: 5px;
			display: none;
			margin-top: -27px;
		}

		div#json-link-container{
			text-align: center;
			
			a#view-json{
				border: 1px solid #00A0FF;
				border-radius: 3px;
				background-color: white;
				color: #00A0FF;
			}

			a#copy-json{
				border: 1px solid #0069FF;
				border-radius: 3px;
				background-color: #0069FF;
				color: white;
			}
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	body{
		div#logo{
			font-size: 55px;
		}

		.masonry {
	        -moz-column-count: 1;
	        -webkit-column-count: 1;
	        column-count: 1;
	    }

	    div.title-container{
	    	text-align: center;
	    }

	    a#view-json{
	    	margin: auto;
	    	float: none !important;
	    }

	    div.source-link-container{
	    	text-align: left !important;
	    }
	}
}

/* Medium only */
@media screen and (min-width: 40em) {
	.masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }/* Rectangle 2: */
}

/* Large only */
@media screen and (min-width: 64em){
	.masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
